# IntelliJ project files
.idea/
*.iml
out
gen

# Visual Studio Code
.history/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
!/.mvn/wrapper/maven-wrapper.jar
!sentinel-dashboard/target/sentinel-dashboard.jar

# Eclipse
.classpath
.settings/
.project
bin/
**/**.log

# System related
*.DS_Store
Thumbs.db
